.header {
  margin-top: 45px;
  height: 74px;
  border: 1px inset #545454;
  border-right-style: none;
}

@media screen and (max-width: 589px) {
  .header {
    margin: 28px 167px 0 0;
  }

  .header__logo {
    margin-left: 27px;
  }
}
