.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px);
  grid-gap: 16px 18px;
  max-width: 415px;
  max-height: 77px;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 30px;
}

.profile__header {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  grid-area: title;
  margin: 0;
}

.profile__edit-button {
  background-color: transparent;
  background-image: url(../images/edit-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  border-style: solid;
  border-color: white;
  grid-area: button;
  align-self: center;
}

.profile__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  grid-area: description;
  margin: 0;
}

.profile__add-button {
  background-color: transparent;
  background-image: url(../images/add-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 50px;
  width: 150px;
  border: 2px solid white;
  margin: 35px 0 35px auto;
  padding: 0;
}
